@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;


*/


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 80%;
    margin: auto;
}

header {
    margin: auto;
}

.color_nav {
    height: 90px;
}

main {
    height: auto;
}

/* BANNER */
.caja_carrusel {
    height: 80vh;
}

.caja_carrusel .carousel-item {
    height: 100%;
}

.caja_carrusel .carousel-item .w-100 {
    height: 100%;
    object-fit: cover;
}

.destacados,
.tipo_prod,
.onsale,
.footer,
.formulario_contact {
    margin-top: 80px;
}

/* FIN BANNER */

/*SECCION DE GENERALES*/
.destacados {
    width: 100%;
    height: 700px;
    box-sizing: border-box;
}

.titulo_genero {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    text-decoration: underline #0D6EFD;
}

.caja_genero {
    width: 100%;
    height: calc(100% - 70px);
    padding: 0;
    margin: auto;
}

.caja_genero .row {
    height: 100%;
}

.caja_genero .row .col {
    height: 100%;
}

.caja_genero .row .col .card {
    height: 100%;
    --bs-card-img-overlay-padding: 0 !important
}

.caja_genero .row .col .card>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.caja_genero .row .col .card .card-img-overlay {
    position: absolute;
    height: auto;
    top: 45%;
}

.caja_genero .row .col .card .card-img-overlay a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

/*FIN SECCION GENERO*/



/* TIPO PRODUCTO */
.tipo_prod {
    position: relative;
    width: 100%;
    height: auto;
}

.caja_topo_prod {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.tipo_prod .col {
    position: relative;
    height: 100%;
    margin: 0;
}

.tipo_prod .col .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tipo_prod .col .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tipo_prod .card-img-overlay {
    position: absolute;
    height: 40%;
    background: rgba(0, 0, 0, 0.5);
    top: 35%;
}

.tipo_prod .col .card img:hover {
    transform: scale(1.4);
    transition: .7s;
}

/*SECCION ONSALE*/
.onsale {
    width: 90%;
    height: 600px;
    margin: 50px auto auto auto;
}

.onsale .carousel {
    height: calc(100% - 71px);
    position: relative;
}

.onsale .carousel .carousel-inner {
    height: 100%;
}

.onsale .carousel .carousel-inner .carousel-item {
    height: 95%;
}

.onsale .carousel .carousel-inner .carousel-item .row {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* FIN SECCION ONSALE*/
/*Pie de pagina*/
/* ++ Footer ++ */
footer {
    position: relative;
}

.footer {
    position: relative;
    height: 300px;
    width: 100%;
}

/* ++ FOOTER HEAD ++ */
.footer>.footer_head {
    position: relative;
    width: 100%;
    height: 200px;
    background: #22102B;
}

.footer_head>.footer_head_cuerpo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer_head>.footer_head_cuerpo>ul.redes_pie {
    display: block;
    width: auto;
    height: 70px;
    display: flex;
    padding: 0;
}

.footer_head>.footer_head_cuerpo>ul.redes_pie>li {
    display: inline-block;
    height: 70px;
    width: 70px;
    list-style: none;
    text-align: center;
}

.footer_head>.footer_head_cuerpo>ul.redes_pie>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    color: #333;
    border: solid thin #0D6EFD;
}

.footer_head>.footer_head_cuerpo>ul.redes_pie>li>a>ion-icon {
    font-size: 30px;
}

.footer_head>.footer_head_cuerpo>ul.redes_pie>li>a:hover {
    color: #fff;
    border: solid thin #ddd;
    transition: .5s;
}

/* FIN FOOTER- HEADER*/

/* ++ FOOTER BOTG END ++ */
.footer>.footer_bot {
    position: relative;
    width: 100%;
    height: 100px;
    /* con estas 2 propiedades estoy alineando el contenido al medio */
}

.footer_bot>.footer_bot_cuerpo {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer_bot>.footer_bot_cuerpo>p {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #22102B;
    font-size: 18px;
    text-align: left;
}

/* ++ Fin Footer ++ */
/* ++ CONTACTOS ++ */
.contenedor_form {
    width: 700px;
    margin: auto;
}

/* PAGINA GENERICA PRODUCTO */
.producto_principal {
    width: 100%;
    height: auto;
}

.caja_producto_1 {
    width: 100%;
    margin-top: 50px;
    --bs-gutter-x: 0rem;
}

.img_prod,
.info_prod,
.slayer {
    position: relative;
    padding: 0;
    margin: 0;
}

.img_prod {
    height: auto;
    position: relative;
}

.img_prod>img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caja_producto_1 span {
    position: absolute;
    display: block;
    width: min-content;
    padding: 10px;
    background: red;
    color: white;
    border-radius: 5px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
    top: 0;
    left: 0;
}

.info_prod {
    height: auto;
}

/* informacion producto */
.compra_producto {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
}

.compra_producto p {
    margin-bottom: 0;
}

.compra_producto h1,
.compra_producto h2 {
    margin-bottom: 0;
}

.compra_producto h1 {
    position: relative;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0;
}

.compra_producto p.precio1,
.compra_producto p.precio2 {
    position: relative;
    display: inline-block;
    width: min-content;
    padding: 0;
}

.compra_producto p.precio1 {
    text-decoration: line-through;
    font-size: 20px;
}

.compra_producto p.precio2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}

.compra_producto p.cuotas,
.compra_producto a.carrito,
.compra_producto a.descrip_prod {
    position: relative;
    color: red;
    font-size: 17px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
}

.compra_producto p.cuotas>ion-icon,
.compra_producto a.carrito ion-icon,
.compra_producto a.descrip_prod ion-icon {
    font-size: 30px;
    padding: 0 10px 0 0;
}

.compra_producto strong {
    font-weight: 600;
}

.compra_producto a.medio_compra,
.compra_producto h2 {
    position: relative;
    display: block;
    text-transform: capitalize;
    font-size: 17px;
}

.compra_producto a.medio_compra {
    text-decoration: none;
    color: black;

}

.compra_producto h2 {
    color: black;
}

.compra_producto ul.talle {
    display: flex;
    list-style: none;
    padding: 0;
}

.compra_producto .talle li {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: solid 1px black;
    border-radius: 50%;
    overflow: hidden;
}

.compra_producto .talle li a {
    position: absolute;
    background: #fff;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}

.compra_producto .talle li:hover {
    border: solid 1px white;
    transition: .7s;
}

.compra_producto .talle li a:hover {
    color: white;
    background: #0D6EFD;
    transition: .7s;
}

.compra_producto select {
    display: block;
    position: relative;
    width: min-content;
    color: white;
    background: #0D6EFD;
}

.compra_producto select option {
    color: white;
}

.compra_producto a.carrito {
    position: relative;
    width: 200px;
    background-color: #0D6EFD;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.top_auto {
    margin-top: 20px;
}

/* SLAYER DE IMAGENES */
.slayer {
    position: relative;
    height: auto;
    margin-top: 50px;
}

.slayer .slayer_img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slayer .slayer_img img {
    box-sizing: border-box;
    padding: 2px;
}

.detaye_prod {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    --bs-gutter-x: 0;
}
.descripcion_general {
    position: relative;
    height: 100%;
}
.descripcion_general h3{
    margin-top: 30px;
}
.descripcion_general p{
    line-height: 18px;
}

.tabla_producto {
    position: relative;
    height: 100%;
}
.tabla_producto h3{
    width: 90%;
    margin: 30px 0 0 0;
    padding: 0;
}
.th_producto {
    width: 90%;
    height: 350px;
    margin: 30px 0px auto auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center
}
.th_1,.th_2,.th_3,.th_4{
    width: 100%;
    height: 100%;
    background: #0D6EFD;
    display: grid;
    place-content: center;
}
.col1_r1,.col1_r2,.col1_r3,.col1_r4,
.col2_r1,.col2_r2,.col2_r3,.col2_r4,
.col3_r1,.col3_r2,.col3_r3,.col3_r4,
.col4_r1,.col4_r2,.col4_r3,.col4_r4{
    width: 100%;
    height: 100%;
    background: rgb(80, 205, 247);
    display: grid;
    place-content: center;
} 
.th_producto p{
    margin-bottom: 0;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}
.th_1 {
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 20px 0 0 0;
}
.th_2 {
    grid-area: 1 / 3 / 2 / 5;
}
.th_3 {
    grid-area: 1 / 5 / 2 / 7;
}
.th_4 {
    grid-area: 1 / 7 / 2 / 9;
}
.col1_r1 {
    grid-area: 2 / 1 / 3 / 3;
}

.col1_r2 {
    grid-area: 3 / 1 / 4 / 3;
}

.col1_r3 {
    grid-area: 4 / 1 / 5 / 3;
}

.col1_r4 {
    grid-area: 5 / 1 / 6 / 3;
}

.col2_r1 {
    grid-area: 2 / 3 / 3 / 5;
}

.col3_r1 {
    grid-area: 2 / 5 / 3 / 7;
}

.col4_r1 {
    grid-area: 2 / 7 / 3 / 9;
}

.col2_r2 {
    grid-area: 3 / 3 / 4 / 5;
}

.col2_r3 {
    grid-area: 4 / 3 / 5 / 5;
}

.col2_r4 {
    grid-area: 5 / 3 / 6 / 5;
}

.col3_r2 {
    grid-area: 3 / 5 / 4 / 7;
}

.col3_r3 {
    grid-area: 4 / 5 / 5 / 7;
}

.col3_r4 {
    grid-area: 5 / 5 / 6 / 7;
}

.col4_r2 {
    grid-area: 3 / 7 / 4 / 9;
}

.col4_r3 {
    grid-area: 4 / 7 / 5 / 9;
}

.col4_r4 {
    grid-area: 5 / 7 / 6 / 9;
    border-radius: 0 0 20px 0;
}



@media (max-width: 991.98px) {

    header,
    main,
    footer {
        width: 95%;
        margin: auto;
    }

    .destacados,
    .tipo_prod,
    .onsale,
    .footer,
    .formulario_contact {
        margin-top: 80px;
    }

    .color_nav {
        height: auto;
    }

    .carousel-inner {
        height: auto;
    }

    /* TIPO PRODUCTO */
    /* TIPO PRODUCTO */
    .tipo_prod {
        width: 100%;
        height: 300px;
    }

    .caja_topo_prod {
        width: 100%;
        height: auto;
    }

    .contenedor_form {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 767.98px) {

    header,
    main,
    footer {
        width: 100%;
        margin: auto;
    }

    .destacados,
    .tipo_prod,
    .onsale,
    .footer,
    .formulario_contact {
        margin-top: 80px;
    }

    .tipo_prod {
        width: 100%;
        height: auto;
    }

    .onsale {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .onsale .card {
        margin-top: 20px;
    }

    .contenedor_form {
        width: 80%;
        margin: auto;
    }
    .detaye_prod {
        position: relative;
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
}

@media (max-width: 575.98px) {

    header,
    main,
    footer {
        width: 100%;
        margin: auto;
    }

    .destacados,
    .tipo_prod,
    .onsale,
    .footer,
    .formulario_contact {
        margin-top: 80px;
    }

    .carousel-inner {
        height: auto;
    }

    /*SECCION DE GENERALES*/
    .destacados {
        width: 100%;
        height: 400px;
        box-sizing: border-box;
    }

    /* TIPO PRODUCTO */
    .tipo_prod {
        position: relative;
        width: 100%;
        height: auto;
    }

    .tipo_prod .col {
        margin: 10px 0;
    }

    /*SECCION ONSALE*/
    .onsale {
        width: 90%;
        height: auto;
    }

    .onsale .card {
        margin-top: 20px;
    }

    .contenedor_form {
        width: 85%;
        margin: auto;
    }


.detaye_prod {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
}